.detailsButton {
    background: #b8610f;
    border-radius: 1em;
    border-color: rgba(255, 255, 255, 0); 
    color: #ffffff;
    padding: 1em;
    width: 75%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}